<div class="dropdown show">
    <a class="dropdown-toggle <%= className ? className : '' %>" href="#" role="button" id="dropdownMenuLink-<%= item.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%=item.text%>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-<%= item.id %>">
        <% data.forEach(function(item, index) { %>
            <a class="dropdown-item" href="#"><%= item.text %></a>
        <% }); %>
    </div>
</div>
